<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% end %}</title>
    <link rel="stylesheet" href="{{ static_url('css/bootstrap.min.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ static_url('css/jquery-ui.css') }}" type="text/css"/>
    {% block style %}{% end %}
</head>
<body>
    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="/">Troya</a>
        <ul class="nav">
          <li {% if page == "home" %} class="active"{% end %}><a href="/">Início</a></li>
          <li {% if page == "fase-email" %} class="active"{% end %}><a href="/fase-email">Ponto de Entrada</a></li>
          <li {% if page == "fase-c-e-c" %} class="active"{% end %}><a href="/fase-c-e-c">C&C Servidor</a></li>
          <li {% if page == "fase-lateral" %} class="active"{% end %}><a href="/fase-lateral">Movimento Lateral</a></li>
        </ul>
      </div>
    </div>
    {% block contents %}{% end %}

    <script src="{{ static_url('js/jquery-2.0.0.min.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/jquery-ui.min.js') }}"></script>
    <script src="{{ static_url('js/bootstrap.min.js') }}"></script>
    {% block script %}{% end %}
</body>
</html>