{% extends "base.html" %}
{% block title %}Fase 1 - Enviar E-mail{% end %}
{% block contents %}
    <h2>Fase 1 - Envio de e-mail</h2>
    {% if mensagem %}
    <div class="alert alert-{{ status }}">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>{% if status == "error" %}Erro{% else %}Sucesso{% end %}!</strong> {{ mensagem }}
    </div>
    {% end %}
    <form action="/fase-1/" method="post" enctype="multipart/form-data" class="form-horizontal well">
        <div class="control-group">
            <label class="control-label" for="de">De:</label>
            <div class="controls">
                <input type="text" id="de" name="de" value="cyber.apt@bol.com.br"/>
            </div>
        </div>
        <div class="control-group">
        <label class="control-label" for="para">Para:</label>
            <div class="controls">
                <input type="text" id="para" name="para" value="cyber.apt@bol.com.br"/>
            </div>
        </div>
        <div class="control-group">
        <label class="control-label" for="porta">Porta:</label>
            <div class="controls">
                <select name="porta" id="porta" class="input-small">
                    <option value="587" selected="selected">587</option>
                    <option value="2525">2525</option>
                </select>
            </div>
        </div>
        <div class="control-group">
        <label class="control-label" for="corpo">Corpo:</label>
            <div class="controls">
                <textarea name="corpo" id="corpo" cols="90" rows="10" class="input-xxlarge">
                    E-mail enviado da fase 1.
                    http://www.globo.com
                </textarea>
            </div>
        </div>
        <div class="control-group">
        <label class="control-label" for="anexo">Anexo:</label>
            <div class="controls">
                <input type="file" name="anexo" id="anexo"/>
            </div>
        </div>
        <div class="form-actions">
            <button class="btn btn-primary" id="fase_1" type="submit">Enviar</button>
        </div>
    </form>
{% end %}
