{% extends "base.html" %}
{% block title %}Troya{% end %}
{% block style %}
    <link rel="stylesheet" href="{{ static_url('css/home.css') }}" type="text/css" />
{% end %}
{% block contents %}
    <img src="{{ static_url('img/ciclo-apt.png') }}" alt="Ciclo APT"/>
    <a href="#" class="btn btn-warning btn-large fase fase-1">1</a>
    <a href="/fase-email" class="btn btn-warning btn-large fase fase-2">2</a>
    <a href="/fase-c-e-c" class="btn btn-warning btn-large fase fase-3">3</a>
    <a href="#" class="btn btn-warning btn-large fase fase-4 not">4</a>
    <a href="#" class="btn btn-warning btn-large fase fase-5 not">5</a>
    <a href="#" class="btn btn-warning btn-large fase fase-6 not">6</a>

    <div id="dialog-fase1" class="dialog-fase" title="Fase 1 - Coleta de Informações">
    </div>

    <div id="nao-implementado" title="Não implementado">
        <p>Funcionalidade não implementada ainda</p>
    </div>
{% end %}
{% block script %}
    <script src="{{ static_url('js/jquery-support.js') }}"></script>
{% end %}
