{% extends "base.html" %}
{% block title %}Troya{% end %}
{% block style %}
    <link rel="stylesheet" href="{{ static_url('css/home.css') }}" type="text/css" />
{% end %}
{% block contents %}
    <img src="{{ static_url('img/ciclo-apt.png') }}" alt="Ciclo APT"/>
    <a href="/fase-1" class="btn btn-warning btn-large fase fase-1">1</a>
    <a href="#" class="btn btn-warning btn-large fase fase-2">2</a>
    <a href="#" class="btn btn-warning btn-large fase fase-3">3</a>
    <a href="#" class="btn btn-warning btn-large fase fase-4">4</a>
    <a href="#" class="btn btn-warning btn-large fase fase-5">5</a>
    <a href="#" class="btn btn-warning btn-large fase fase-6">6</a>
{% end %}
{% block script %}
    <script type="text/javascript">
        $(".fase").click(function() {
            var $this = $(this);
            if (!$this.hasClass("fase-1")) {
                alert("Não implementado ainda...")
                return false;
            }
        });
    </script>
{% end %}
